/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: inline;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

body * {
  float: left;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 100%;
  height: 70px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header * {
  display: inline;
}

header div {
}

header img {
  height: 41px;
  width: 110px;
}

header ul {
  list-style: none;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0;
}

header li {
  border: 1px solid red;
}

header h2 {
}